body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
.name{
    color:hsl(241, 53%, 63%);
}
#line{
    margin-left: 20px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 25px;;
    text-align: justify;
}
h5{
    font-size: 20px;
}
p{
    font-size: 20px;
    color: white
}
.flexible-container{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 45%;
    padding: 2%;
    margin-left: 5%;
    }
    .top{
        margin-top: 70px;
    }
.button{
    text-decoration:none;
    background-image: linear-gradient(yellow, coral);
    color: white;
    font-weight: 700;
    padding: 8px 35px;
    border-radius: 9px;
 }
 .border{
    border-left: 3.5px solid;
    height: 100px;
    border-color:blue;
    border-image-slice: 1;
 }
 .border{
    border-left: 3.5px solid;
    border-color:blue;
    border-image-slice: 1;
 }
 .third-width{
     width: 33%;
     padding: 6%;
     border-radius: 40px;
     margin-left: 1%;
     margin-right: 1%;
 }
 #background-1{
    background-color: #81ecec;
    margin-left: 7.5%;
    height: 275px;
    padding-top: 1.5%;
 }
 #background-2{
   background-color: violet;
   height: 275px;
   padding-top: 1.5%;
   color-scheme: 1%;
 }
 #background-3{
     background-color: #ffeaa7;
    margin-right: 7.5%;
    height: 275px;
    padding-top: 1.5%;
 }
 .third-section{
    background-image:url(images/shape-1.png);
    background-size: 240px;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 5%;
    margin-left: 3%;
 }
 .forth-section{
    background-image:url(images/shape-1.png);
    background-size: 240px;
    background-repeat: no-repeat;
    background-position:right;
    margin-right: 5%;
    margin-left: 3%;
 }

.contract{
    height: 332px;
    width: 420px;
    margin-left: 9%;
    border-radius: 3%;
    background-image: linear-gradient(#ffc048, coral);
}
#Author-picture{
    margin-left: 14%;

}
footer p{
    text-align: center;
    color: white;
    background-image: linear-gradient(#575fcf, #1B1464);
    height: 65px;
    margin-bottom: 0%;
}