body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
.name{
    color:hsl(241, 53%, 63%);
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
    
    
}
h3{
    font-size: 25px;;
    text-align: justify;
}
h5{
    font-size: 20px;
}
p{
    font-size: 20px;
    color: white

}
.flexible-container{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 45%;
    padding: 2%;
    margin-left: 5%;
    }
    .top{
        margin-top: 70px;
    }

.button{
    text-decoration:none;
    background-image: linear-gradient(yellow, coral);
    color: white;
    font-weight: 700;
    padding: 8px 35px;
    border-radius: 9px;
 }
 .border{
    border-left: 3.5px solid;
    border-color:blue;
    border-image-slice: 1;

 }